<h1 class="mt-4" >Dashboard</h1>
<p class="lead mb-3">Welcome </p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<a href ="/upload" class = "btn btn-primary">Upload</a>
<a href="http://localhost:3000/blogshome" class ="btn btn-primary">Blog</a>