<html>
  <head>
    <style>
   
      .card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}
.btn{
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  
  font-size: 1rem;
  padding: 1rem;
  transition: all 0.2s;
  
}
    </style>
    
    </head>
  
<body>
  <%- include ("./partials/messages") %>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body  text-center card-signin" style="margin: 50px;">
      <a href="/articles/new"><i class="fas fa-blog fa-7x" style="color: purple;"></i> </a>
        <br/>     
        <p>Create an account or login</p>
        <a href="/users/register" class="btn btn-primary  mb-2"
          >Register</a
        >
        <a href="/users/login" class="btn btn-success mb-2" >Login</a>
       
      </div>
          
        
       
      </div>
    </div>
  </div>
  
</body>

</html>
  